@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


body{
  font-family:Poppins;
} 
.container{
  height: 680px;
}

.sub-container{
  background-image: url('https://gemsbymahrukh.com/cdn/shop/files/ChatGPT_Image_Sep_6_2025_06_14_03_PM_1.webp?v=1757167016');
  /* height: 38vw; */
  /* width:2500px; */
  background-repeat: no-repeat;
  object-fit:cover;
  /* opacity:0.9; */
}

/* colors: {
  black: "#000000",
  goldDark: "#68563A",
  goldMuted: "#978461",
  goldPrimary: "#D0AF65",
  goldLight: "#ECD28E",
} */
